@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.days, .hours,
.minutes, .seconds {
  position: relative;
  font-size: 2rem;
  font-weight: 600;
}

.days::before {
  content: "Days";
  position: absolute;
  top: -10px;
  left: 0;
  font-size: .7rem;
  font-weight: 500;
}

.hours::before {
  content: "Hours";
  position: absolute;
  top: -10px;
  left: 0;
  font-size: .7rem;
  font-weight: 500;
}

.minutes::before {
  content: "Minutes";
  position: absolute;
  top: -10px;
  left: 0;
  font-size: .7rem;
  font-weight: 500;
}

.seconds::before {
  content: "Seconds";
  position: absolute;
  top: -10px;
  left: 0;
  font-size: .7rem;
  font-weight: 500;
}
