@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.days, .hours,
.minutes, .seconds {
  position: relative;
  font-size: 2rem;
  font-weight: 600;
}

.days::before,
.hours::before,
.minutes::before,
.seconds::before {
  position: absolute;
  top: -10px;
  left: 0;
  font-size: .7rem;
  font-weight: 500;
}

.days::before {
  content: "Days";
}

.hours::before {
  content: "Hours";
}

.minutes::before {
  content: "Minutes";
}

.seconds::before {
  content: "Seconds";
}

.banner__days, .banner__hours,
.banner__minutes, .banner__seconds {
  position: relative;
  font-size: 1.2rem;
  font-weight: 600;
}


.banner__days::before,
.banner__hours::before,
.banner__minutes::before,
.banner__seconds::before {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, -5px);
  font-size: .6rem;
  font-weight: 500;
  color: #000;
}


.banner__days::before {
  content: "Days";
}

.banner__hours::before {
  content: "Hours";
}

.banner__minutes::before {
  content: "Minutes";
}

.banner__seconds::before {
  content: "Seconds";
}


.cart {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  border-radius: 0.5rem;
}

/* .cart, .cart__total {
  width: 40%;
} */

.cart__total {
  /* background: #F7F7F7; */
  /* padding: 2rem; */
  border-radius: .5rem;
}

.fade-out {
      transition: opacity 2s ease-out;
      opacity: 0;
}